* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding: 50px 130px 0 45px;
  display: flex;
  flex-direction: column;
}

.top-box {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header figure img {
  width: 240px;
  height: 49px;
}
header .menu {
  display: flex;
  flex-direction: row;
  font-family: "Century Gothic";
  gap: 40px;
}
header .menu ul li {
  list-style: none;
}
header .menu ul li a {
  text-decoration: none;
  font-weight: 800;
  color: #0B1B35;
}
header .login {
  display: flex;
  gap: 22px;
  font-family: "Century Gothic";
}
header .login ul li {
  list-style: none;
}
header .login ul li a {
  text-decoration: none;
  color: #0B1B35;
  font-weight: bold;
}
header .login ul li .orange {
  color: white;
  background-color: #FF6600;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding: 16px 32px;
  border-radius: 16px;
  border: 1px solid white;
}
header .login ul li .orange:hover {
  background-color: white;
  color: #FF6600;
  border: 1px solid #FF6600;
  transition: 0.5s;
}

.top-box-second {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.top-box-second .top-box-second-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.top-box-second .top-box-second-one h1 {
  width: 653px;
  height: 260px;
  font-style: normal;
  font-weight: 850;
  font-size: 70px;
  line-height: 81px;
  color: #0B1B35;
  font-family: "Century Gothic";
}
.top-box-second .top-box-second-one p {
  width: 555px;
  height: 62px;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  font-family: "Century Gothic";
  color: #0B1B35;
  margin-top: 30px;
}
.top-box-second .top-box-second-one button {
  background-color: #FF6600;
  border-radius: 10px;
  width: 162px;
  height: 49px;
  border: none;
  font-family: "Century Gothic";
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-top: 50px;
}
.top-box-second .top-box-second-one button:hover {
  background-color: white;
  color: #FF6600;
  border: 1px solid #FF6600;
  transition: 0.5s;
}
.top-box-second .top-box-second-two {
  width: 606px;
  height: 618.09px;
}
.top-box-second .top-box-second-two .circle {
  width: 480px;
  height: 480px;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  right: 300px;
  box-shadow: 0px 0px 10px grey;
  z-index: -1;
}

.middle-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 135px 160px;
}
.middle-box h1 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 28px;
  text-align: center;
  color: #0B1B35;
  margin-bottom: 100px;
}
.middle-box .middle-box-inside-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.middle-box .middle-box-inside-main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 352px;
  height: 508px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 28px;
}
.middle-box .middle-box-inside-main div figure {
  padding: 20px;
}
.middle-box .middle-box-inside-main div h1 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  /* identical to box height, or 79% */
  text-align: center;
  color: #000000;
}
.middle-box .middle-box-inside-main div p {
  width: 270px;
  height: 187px;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-top: -60px;
}
.middle-box .middle-box-inside-main div a {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 49px;
  color: #FFFFFF;
  width: 162px;
  height: 49px;
  background: #FF6600;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 500px;
}
.footer-box h5 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 204% */
  text-align: center;
  letter-spacing: 0.45em;
  color: #8A898E;
}
.footer-box h1 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 28px;
  text-align: center;
  color: #0B1B35;
}
.footer-box .footer-box-inside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.footer-box .footer-box-inside .img-box {
  margin-top: 30px;
  width: 370px;
  mix-blend-mode: normal;
  /* Colors / Grey */
  border: 2px solid #EBEAED;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-box .footer-box-inside .img-box figure img {
  margin-top: 40px;
  width: 120px;
  height: 120px;
}
.footer-box .footer-box-inside .img-box h3 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #1E0E62;
}
.footer-box .footer-box-inside .img-box h2 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Colors / Text */
  color: rgba(21, 20, 57, 0.4);
}
.footer-box .footer-box-inside .img-box .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  mix-blend-mode: normal;
  border: 1px solid #EBEAED;
  width: 50%;
  padding: 40px 50px;
  justify-content: center;
}
.footer-box .footer-box-inside .img-box .icons img {
  mix-blend-mode: normal;
}/*# sourceMappingURL=style.css.map */